@use "sass:color";

:root {
  --background: white;
  --foreground: #444;
  --active: rgb(243, 242, 241);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(27, 26, 25);
    --foreground: rgb(243, 242, 241);
    --active: rgb(37, 36, 35);
  }
}

html,
body {
  margin: 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

a,
a:visited {
  color: var(--foreground);
}

.container {
  max-width: 1200px;
  margin: 0 20px;

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  h3 {
    margin-bottom: 5px;
  }
}

.progress {
  display: flex;

  meter {
    flex: 1;
    height: 20px;
  }

  p {
    margin: 0;
    margin-left: 10px;
    font-weight: 600;
  }
}

.entry-list {
  padding: 0;
  list-style: none;
  border-radius: 2px;
  color: rgb(50, 49, 48);
  font-weight: 600;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    padding: 10px 0;
    display: block;
  }

  td {
    text-align: center;
    border: 1px solid var(--foreground);

    &:hover {
      background-color: var(--active);
      color: var(--foreground);
    }

    a,
    a:visited {
      color: var(--foreground);
    }

    &.true {
      background-color: #0b6a0b;

      &:hover {
        background-color: color.scale(#0b6a0b, $lightness: -10%);
      }

      a,
      a:visited {
        color: var(--background);
      }
    }
  }
}

footer {
  margin-top: 40px;
  text-align: center;
}
