{% macro column(title, description, entries) %}
<section>
    <h3>{{ title }}</h3>
    <div class="progress">
        <meter max="{{ entries | length }}" value="{{ entries | filter(attribute='armVersion', value=true) | length }}">{{ entries | filter(attribute='armVersion', value=true) | length }}/{{ entries | length }}</meter>
        <p>{{ entries | filter(attribute='armVersion', value=true) | length }}/{{ entries | length }}</p>
    </div>
    <p>{{ description }}</p>
    <table class="entry-list">
        {% set sorted_entries = entries | sort(attribute="name") %}
        {% for item in sorted_entries %}
            <tr>
                <td class="{{ item.armVersion }}">
                    <a href="{{ item.link }}">{{ item.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endmacro column %}