{% import "macros/column.html" as macros %}

{% set_global entries = [] %}
{% for entry in section.assets %}
    {% set data = load_data(path="@" ~ entry) %}
    {% set_global entries = entries | concat(with=data) %}
{% endfor %}

{% set microsoft = entries | filter(attribute="category", value="microsoft") %}
{% set applications = entries | filter(attribute="category", value="applications") %}
{% set development = entries | filter(attribute="category", value="development") %}

{{ macros::column(entries=microsoft, title="Microsoft", description="Applications developed by Microsoft") }}
{{ macros::column(entries=applications, title="Applications", description="Applications developed by third-parties") }}
{{ macros::column(entries=development, title="Development", description="SDKs and other application development tools") }}