.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  h3 {
    margin-bottom: 5px;
  }
}

.progress {
  display: flex;
  align-items: center;

  meter {
    flex: 1;
    -webkit-appearence: none;
    height: 6px;
    border: none;

    &::-webkit-meter-bar {
      background: none;
      background-color: var(--meter);
      border: 0;
      border-radius: 0;
    }

    &::-webkit-meter-optimum-value {
      background-color: #0b6a0b;
    }
  }

  p {
    margin: 0;
    margin-left: 10px;
    font-weight: 600;
  }
}

.entryList {
  padding: 0;
  list-style: none;
  border-radius: 2px;
  color: rgb(50, 49, 48);
  font-weight: 600;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    padding: 10px 0;
    display: block;
  }

  td {
    text-align: center;
    border: 1px solid var(--foreground);

    &:hover {
      background-color: var(--active);
      color: var(--foreground);
    }
  }
}

.true {
  background-color: #0b6a0b;

  &:hover {
    background-color: darken(#0b6a0b, 10%);
  }

  a,
  a:visited {
    color: var(--background);
  }
}
