<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dstaley">
    <meta name="twitter:creator" content="@dstaley">
    <meta name="twitter:image" content="{{ get_url(path='twittercard.png') }}">
    <meta property="og:title" name="twitter:title" content="{{ config.title }}">
    <meta property="og:description" name="twitter:description" content="{{ config.description }}">
    <meta property="og:url" content="{{ current_url | safe }}">
    <meta property="og:image" content="{{ get_url(path='opengraph.png') }}">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <link rel="canonical" href="{{ current_url | safe }}">

    <link rel="shortcut icon" href="{{ get_url(path='laptop.png') }}">

    {%- if current_url is starting_with("http://127.0.0.1:1111/") -%}
      <link rel="stylesheet" href="/style.css">
    {%- else -%}
      <style>{{ load_data(path="public/style.css") | trim | safe }}</style>
    {%- endif -%}
  </head>
  <body>
    {% block main %}{% endblock %}
  </body>
</html>